.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2%;
    padding-left: 5%;
    padding-top: 10%;
}

img {
    width: 80%;
    border-radius: 5%;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5%;
}

input {
    border-radius: 5%;
}

.message {
    padding-top: 5%;
}

.button {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5%;
}
